
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #000; */
  /* margin: 0 335px; */
}

.container {
  max-width: 100%; 
  margin: 0 auto;    
}

header {
  background-image: url(./assets/images/slide\ 1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 811px;
}

.nav-wrapper {
  background-color: rgba(0, 0, 0, 0.774);
  height: 211px;
}

.work-type {
  display: flex;
  width: 1250px;
  /* padding: 14px 336px; */
  margin: 0 auto;
  padding-top: 14px;
  justify-content: space-between;
  margin-top: 14px;
  /* gap: 641px; */
}

.city-left,
.call-right {
  display: flex;
  gap: 66px;
justify-content: start;
}
.city-left p {
    color: #FFFFFF;
}
.call-right span,p {
    color: #FFFFFF;
    font-family: Montserrat;
font-weight: 500;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
} 
.call-right a {
    text-decoration: none;
    color: #FFFFFF;
}
.logo-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1246px; 
  height: 73px;
  margin: 0 auto;
  /* padding: 0 335px; */
  text-align: center;
  opacity: 1;
  display: flex;
  border: 1px solid white;
  margin-top: 58px;
}
.logo-icon .menu {
display: flex;
align-items: center;
gap: 12PX;
}
.find-product img {
    margin-right: 24px;
}
.group-ul {
    width: 1250px;
    margin-right: 63px;
}
.group-ul ul {
  display: flex;
  align-items: center;
  gap: 63px;
  padding:0 336px;
  list-style: none;
  margin-top: 36px;
}
.group-ul ul li a {
    font-family: Montserrat;
font-weight: 500;
font-size: 20px;
text-decoration: none;
line-height: 140%;
letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
}
.option2 {
    display: flex;
align-items: center;
}
.about {
    display: flex;
    margin-top: 105px;
    gap: 460px;
}
.texts h1 {
    font-family: Montserrat;
font-weight: 800;
font-size: 64px;
line-height: 100%;
margin-left: 200px;
letter-spacing: 0%;
text-transform: uppercase;
color: #FFFFFF;
}
.texts p {
  font-family: Montserrat;
font-weight: 400;
font-size: 28px;
line-height: 100%;
letter-spacing: 3%;
color: rgba(255, 255, 255, 1);
}
.about p {
    font-family: Montserrat;
font-weight: 400;
font-size: 28px;
line-height: 100%;
letter-spacing: 3%;
margin-top: 8px;
margin-left: 200px;
}
.dot img{
vertical-align: top;
align-items: center;
gap: 19px;
margin-left: 100px;
margin-top: 19.15px;
    display: block;
}
.gold-sink {
    width: 312px;
height: 129px;
opacity: 1;
display: flex;
position: relative;
margin-left: 1190px;
}
.red-color {
    background-color: red;
    width: 139px;
height: 129px;
opacity: 1;
}
.gold {
    width: 152px;
height: 128px;
left: 160px;
opacity: 1;

}
.gold-sink p {
    position: absolute;
    top: 41px;
    color: rgba(236, 236, 236, 1) ;
    left: 62px;
}
.crowns {
  background-color: rgba(236, 236, 236, 1);
  width: 1921px;
height: 330px;
opacity: 1;
}
.fill {
  display: flex;
  gap: 97px;
  align-items: center;
  margin-left: 336px;
  margin-top: 23px;
}
.base-text h2 {
  text-align: center;
  font-family: Montserrat;
font-weight: 700;
font-size: 70px;
line-height: 150%;
letter-spacing: 2%;
text-align: center;
text-transform: uppercase;
color: rgba(255, 255, 255, 1);
}
.niderland p {
  display: flex;
  font-family: Montserrat;
font-weight: 600;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(51, 51, 51, 1);
}
.niderland {
  display: flex;
}
.russia {
  display: flex;
}
.russia p {
   font-family: Montserrat;
font-weight: 600;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(51, 51, 51, 1);
}
.uk {
  display: flex;
}
.uk p {
  font-family: Montserrat;
font-weight: 600;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(51, 51, 51, 1);
}
.singapore {
  margin-left: 1246px;
  width: 355px;
height: 260px;
opacity: 1;
background-color: rgba(255, 255, 255, 1);
}
.region  {
  display: flex;
  color: rgba(51, 51, 51, 1);
}
.region img ,p {
  color: rgba(51, 51, 51, 1);
}
.lane {
  color: rgba(102, 101, 101, 1);
}
.call {
  display: flex;
  align-items: center;
  gap: 17px;
  margin-top: 35px;
}
.email {
  align-items: center;
  display: flex;
  gap: 17px;
  margin-top: 18px;
}
.browser {
  display: flex;
  align-items: center;
  gap: 17px;
  margin-top: 17px;
}

.card-image  {
  display: grid;
  grid-template-columns: repeat(3,300px);
  margin: 214px 335px 0 336px ;
  gap: 50px;
position: relative;
}
.card1 {
  width: 384px;
height: 511px;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.choose {
  background-color: red;
  display: flex;
  width: 350px;
height: 71px;
opacity: 1;
 position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.card h3 {
  position: absolute;
  top: 364px;
  left: 139px;
  font-family: Montserrat;
font-weight: 500;
font-size: 28px;
line-height: 100%;
letter-spacing: 3%;
text-align: center;
color: #FFFFFF;
}
